<Application 
  xmlns="https://crossx.support/Schemas/CrossX.Framework.ApplicationDefinition"
  xmlns:t="https://crossx.support/Schemas/CrossX.Framework.Transforms"
  xmlns:ui="https://crossx.support/Schemas/CrossX.Framework.UI"
  xmlns:d="https://crossx.support/Schemas/CrossX.Framework.Drawables">

  <Theme>
    <Color Key="BackgroundColor" Value="#2e2e2e"/>
    <Color Key="ForegroundColor" Value="#ffffff"/>
    
    <Color Key="ButtonBackgroundColor" Value="#5B5B5B"/>
    <Color Key="ButtonBackgroundColorOver" Value="#6D6D6D"/>
    <Color Key="ButtonBackgroundColorPushed" Value="#5B5B5B"/>

    <Color Key="DefaultButtonBackgroundColor" Value="#FB690E"/>
    <Color Key="DefaultButtonBackgroundColorOver" Value="#FC8236"/>
    <Color Key="DefaultButtonBackgroundColorPushed" Value="#FB690E"/>

    <Color Key="ButtonForegroundColor" Value="#ffffff"/>
    <Color Key="ButtonForegroundColorOver" Value="#ffffff"/>
    <Color Key="ButtonForegroundColorPushed" Value="#ffffff"/>

    <Color Key="ThumbBackgroundColor" Value="#FB690E"/>
    <Color Key="ThumbBackgroundColorOver" Value="#FC8236"/>
    <Color Key="ThumbBackgroundColorPushed" Value="#FB690E"/>

    <Color Key="TrackBackgroundColor" Value="#5B5B5B"/>
    <Color Key="TrackBackgroundColorOver" Value="#6D6D6D"/>
    <Color Key="TrackBackgroundColorPushed" Value="#5B5B5B"/>
    
    
  </Theme>
  
  <Styles>
    <!--<Import Path="CrossX.Framework.Assets.Styles.xml;CrossX.Framework"/>-->

    <Style>
      <ui:Button ForegroundColor="{Theme ForegroundColor}" BackgroundColor="{Theme ButtonBackgroundColor}"
                 BackgroundDrawable="{Resource DefaultButtonBackground}"
                 ForegroundColorOver="White"
                 ForegroundColorPushed="White"/>
    </Style>
  </Styles>

  <Resources>

    <!--<Import Path="CrossX.Framework.Assets.Transforms.xml;CrossX.Framework"/>-->
    <Resource Key="ButtonOverTransform">
      <t:StateTransform EnterDuration="100" LeaveDuration="50">
        <t:Group>
          <t:Rotation Angle1="35"/>
          <t:Scale X1="1.4" Y1="1.2"/>
        </t:Group>
      </t:StateTransform>
    </Resource>

    <Resource Key="ButtonDownTransform">
      <t:StateTransform EnterDuration="100" LeaveDuration="50">
        <t:Group>
          <t:Rotation Angle1="-20"/>
          <t:Scale X1="0.8" Y1="0.9"/>
        </t:Group>
      </t:StateTransform>
    </Resource>

    <Resource Key="PageNavigationToTransform">
      <t:NavigationTransform Duration="250">
        <t:Group>
          <t:Offset X0="100%" X1="0"/>
        </t:Group>
      </t:NavigationTransform>
    </Resource>

    <Resource Key="PageNavigationFromTransform">
      <t:NavigationTransform Duration="250">
        <t:Group>
          <t:Offset X0="0" X1="-100%"/>
        </t:Group>
      </t:NavigationTransform>
    </Resource>

    <Resource Key="DefaultButtonBackground">
      <d:RectangleDrawable Rx="5" Ry="5" FillColor="White"/>
    </Resource>

    <Resource Key="CheckBoxDrawable">
      <d:RectangleDrawable Rx="5" Ry="5" FillColor="White" />
    </Resource>

    <Resource Key="CheckBoxTickDrawable">
      <d:TextIconDrawable FontFamily="FluentSystemIcons-Filled" FontSize="17" FontWeight="Bold" Text="&#62102;" OffsetX="-0.5" OffsetY="1"/>
    </Resource>
    
    <Resource Key="SplitterDrawable">
      <d:SplitterDotsDrawable Rx="50%" Ry="50%" Count="3" Padding="1" Spacing="2" BackgroundTint="#40ffffff"/>
    </Resource>

    <Resource Key="SliderThumb">
      <d:RectangleDrawable Rx="50%" Ry="50%" FillColor="White"/>
    </Resource>

  </Resources>
</Application>